
<div class="displayContainer">
  <nav class="navbar navbar-expand-sm navbar-light bg-dark" id="navbar">
    <a class="navbar-brand" href="#" id="img-logo">LOGO</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" id="menu">
        <li class="nav-item active">
          <a class="nav-link" href="#food-items">our menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#arrangments">special offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#order-now">reservation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Contact">location</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/adminLogin']">Admin Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#about-us" id="about"> about us </a> 
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <p class="title">  organic natural food </p>
        <p class="brief"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
        <p> <button type="button" id="see"> <a href="#food-items" style="color:white;text-decoration:none;"> SEE OUR MENU </a> </button> </p>
      </div>
    </div>

  </div>

</div> <!-- bg-container closed here -->
  <!-- about us -->
  <section id="about-us">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-xs-12 intro-about">
          <div>
            <p class="about">  ABOUT </p>
            <p class="desc"> Our Chefs offer you perfect cooking, best served dishes with fresh ingredients and old recipes. We have only carefully sourced and seasonal ingredients in our disposal to make rustic dishes. We provide you with daily self-made bread, sourdough pizza, roasted fish-meat-vegetables and many more. </p>
            <p>  <button type="button" id="read-more"> READ MORE </button> </p>
          </div>
        </div>
        <div class="col-md-6 col-xs-12" id="img-contain">

        </div>
      </div>
    </div>
  </section>


  <section class="todays-speciality">
    <div class="container-fluid">
      <div class="row" id="today">
        <div class="col-md-12 col-xs-12">
          <p class="today-title">  Today's Speciality </p>
          <p class="today-brief"> Chicken with vegetables: mashed potatoes, bean pods, croutons, cranberry jam,rosemary </p>
          <p> <button type="button" id="menu-btn"> 7 day's menu </button> </p>
          <div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="food-items" id="food-items">
    <div class="container-fluid">
      <h1 id="menu-title"> menu </h1>
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <span class="category"> meat </span>
          <div class="lists">
            <ul class="list"></ul>

          </div>

        </div>
        <div class="col-md-3 col-xs-12">
          <span class="category"> sides</span>
          <div class="lists">
            <ul class="list"></ul>
          </div>

        </div>
        <div class="col-md-3 col-xs-12">
          <span class="category"> pasta </span>
          <div class="lists">
            <ul class="list"></ul>

          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="delivery">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-xs-12 pic">
        </div>
        <div class="col-md-6 col-xs-12 description-delivery">

          <span id="delivery-title">  Delivery </span>

          <p class="delivery-desc">  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
          <p> <button type="button" id="order"> <a href="#order-now" style="text-decoration:none;color:black;">  order now  </a> </button> </p>
        </div>
      </div>
    </div>

  </section>

  <section id="service" class="service-bg">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <p class="service-title">  best service ever </p>
          <p class="service-brief"> Our 3 Michelin Stars ensure that your experience regarding our cuisine will be one that you will not forget. </p>
          <p> <img src="https://demo.kallyas.net/phaeton-restaurant-bar-pub/wp-content/uploads/sites/7/2016/06/3-flowers.png" class="img-service" /> </p>
        </div>

      </div>
    </div>
    <div class="zn-bgSource-overlay" style="background-color:rgba(53,53,53,0.3);width:100%;height:650px;"></div>
  </section>

  <section id="arrangments">
    <div class="container-fluid event">
      <div class="row">
        <div class="col-md-3 col-xs-12 event-mgmt">
          <div class="img-bg img-circle">
            <img src="">
          </div>

          <div class="birthday">
            <span class="font-setting">  birthdays </span>
            <p class="description">Book a table for two with the best Italian dishes served for the anniversary. Or reserve a bigger one for a huge family to get together one sunny day. Gather your friends together </p>
          </div>

        </div>
        <div class="col-md-3 col-xs-12  event-mgmt">
          <div class="img-bg img-circle">
            <img src="">
          </div>
          <div class="meeting">
            <span class="font-setting"> meetings </span>
            <p class="description">   You can also impress your boss by choosing the best place for corporate party with your co-workers. Reserve a spacious room, set the menu, choose the drinks and invite guests.</p>
          </div>

        </div>
        <div class="col-md-3 col-xs-12  event-mgmt">
          <div class="img-bg img-circle">
            <img src="">
          </div>
          <div class="wedding">
            <span class="font-setting"> weddings </span>
            <p class="description">  75 seats for 75 guests are all at your disposal. Organize a party for a huge company and have fun in the restauran. Show your friends the real world of European cuisine and especially Italian vibes.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="tasty-desserts">
    <div class="container-fluid">
      <div class="row" id="dessert">
        <div class="col-md-12 col-xs-12">
          <p class="tasty-title"> Tasty Desserts </p>
          <p class="tasty-desc">
            Whether you crave sweet, savory, decadent or healthy,<br>
            we have hundreds of top-rated dessert recipes to satisfy your taste buds.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="order-now">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-xs-12 details">
          <p class="heading"> Events </p>
          <p class="sub-detail"> We put at your disposal our place and staff to celebrate your Birthday, the 10th year anniversary with your colleagues even your Weddings. </p>
          <p> <button type="button" class="find"> Find Out More </button> </p>
        </div>
        <div class="col-md-3 col-xs-12 details">
          <p class="heading"> Opening Hours </p>
          <p style="font-weight:bold;font-family:'Montserrat';font-size:1.30em;margin-top:30px;">  Monday - Saturday  </p>
          <p style="font-weight:300;font-family:'Montserrat';"> 12pm - 10:30pm </p>

          <p style="font-weight:bold;font-family:'Montserrat';font-size:1.30em;"> Sunday </p>
          <p style="font-weight:300;font-family:'Montserrat';">  12pm - 9pm </p>
          <p style="font-weight:300;font-family:'Montserrat';margin-top:30px;"> Fruits de mer & cold food available 3-5:00pm </p>
        </div>
        <div class="col-md-3 col-xs-12 details">
          <p class="heading"> find a table </p>
          <p class="sub-detail">  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. </p>
          <p class="call"> <i class="fa fa-phone"> </i> CALL: 0800 1800 1800 </p>
        </div>
      </div>
    </div>
  </section>
  <section class="discount" id="discount">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-xs-12 dis-coupon">
          <p class="dis-title">  discount coupon </p>
          <p class="mail"> Enter your email address for a 20% off voucher next time you come visit us</p>
          <p>
            <input type="text" placeholder="Your email address" class="mail-address" required />
            <button type="button" id="subscribe"> SUBSCRIBE </button>
          </p>

          <ul class="social-media">
            <li> <a> <i class="fa fa-facebook">  </i> </a> </li>
            <li>  <a> <i class="fa fa-twitter"> </i> </a> </li>
            <li>  <a> <i class="fa fa-linkedin"> </i> </a> </li>
          </ul>
          <ul class="hori-menu">
            <li> <a href="#about-us">  About Us </a> </li>
            <li>  <a href="#food-items">  our menu </a> </li>
            <li>  <a href="#arrangments">  special offers </a> </li>
            <li>  <a href="#order-now">  reservation </a> </li>
            <li>  <a href="">  location </a> </li>
            <li>  <a href="#discount">  subscribe </a> </li>
          </ul>
          <div>
          </div>
        </div>
      </div>
    </div>

  </section>

