<div class="container">
  <div class=" " style="display: block">
    <h5 class="card-header">User Details</h5>
    <div class="card-body">
      <form class="login100-form validate-form p-l-55 p-r-55 p-t-20 " [formGroup]="myForm" (ngSubmit)="onSubmitRegistration()">
        <div class="form-row">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-10">        
            <div class="form-group ">
              <label>First Name </label>
              <input type="text" formControlName="firstName" class="form-control"  [ngClass]="{ 'is-invalid':  f.firstName.errors }" />
              <div *ngIf=" f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">firstName is required</div>
                <div *ngIf="f.firstName.errors.firstName">firstName must be a valid</div>
              </div>
            </div>
            <div class="form-group ">
              <label>Last Name </label>
              <input type="text" formControlName="lastName" class="form-control"  [ngClass]="{ 'is-invalid':  f.lastName.errors }" />
              <div *ngIf=" f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">lastName is required</div>
                <div *ngIf="f.lastName.errors.lastName">lastName must be a valid</div>
              </div>
            </div>
            <div class="form-group ">
              <label>User Name </label>
              <input type="text" formControlName="username" class="form-control"  [ngClass]="{ 'is-invalid':  f.username.errors }" />
              <div *ngIf=" f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">username is required</div>
                <div *ngIf="f.username.errors.username">username must be a valid</div>
              </div>
            </div>
            <div class="form-group ">
              <label>Email </label>
              <input type="text" formControlName="email" class="form-control"  [ngClass]="{ 'is-invalid':  f.email.errors }" />
              <div *ngIf=" f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">email is required</div>
                <div *ngIf="f.email.errors.email">email must be a valid</div>
              </div>
            </div>
            <div class="form-group ">
              <label>Password </label>
              <input type="text" formControlName="password" class="form-control"  [ngClass]="{ 'is-invalid':  f.password.errors }" />
              <div *ngIf=" f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">password is required</div>
                <div *ngIf="f.password.errors.password">password must be a valid</div>
              </div>
            </div>
            <div class="form-group ">
              <label>Phone </label>
              <input type="text" formControlName="phone" class="form-control"  [ngClass]="{ 'is-invalid':  f.phone.errors }" />
              <div *ngIf=" f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">phone is required</div>
                <div *ngIf="f.phone.errors.phone">phone must be a valid</div>
              </div>
            </div>
            <div class="form-group ">
              <label>Status</label>
              <select class="form-control"
                      formControlName="status"
                      [ngClass]="{ 'is-invalid': f.status.errors }">
                <option value="" disabled>status</option>
                <option *ngFor="let status of statues" > {{status}} </option>
              </select>
              <div *ngIf=" f.status.errors" class="invalid-feedback">
                <div *ngIf="f.status.errors.required">status is required</div>
                <div *ngIf="f.status.errors.status">status must be a valid </div>
              </div>
            </div>
            <div class="form-group ">
              <label>Role</label>
              <select class="form-control"
                      formControlName="role"
                      [ngClass]="{ 'is-invalid': f.role.errors }">
                <option value="" disabled>role</option>
                <option *ngFor="let role of roles" > {{role}} </option>
              </select>
              <div *ngIf=" f.role.errors" class="invalid-feedback">
                <div *ngIf="f.role.errors.required">role is required</div>
                <div *ngIf="f.role.errors.role">role must be a valid </div>
              </div>
            </div>           
            <div class="text-center">
              <button class="btn btn-primary mr-1" type="submit" [disabled]="!myForm.valid">Update</button>
              <button class="btn btn-secondary" type="reset">Cancel</button>
            </div>
          </div>
          <div class="col-sm-1">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
